.app {
  width: 800px;
  border: 5px solid $main;
  border-radius: 10px;
  margin: 40px auto;
  text-align: center;
  overflow: hidden;

  &__header {
    margin: $base-text-margin;
  }
}

.record {
  background-color: $main;
  padding: $base-text-margin;

  &__btn {
    display: inline;

    &--recording {
      background-color: $record;
    }
  }

  &__description {
    margin-left: $base-text-margin;
  }
}

.playback {
  background-color: $sec;
  padding: $base-text-margin;

  &__btn {
    display: inline;

    &--playing {
      background-color: $record;
    }
  }

  &__description {
    margin-left: $base-text-margin;
  }
}
