.app {
  border: 1px solid $main;
  border-radius: 10px;
  margin: 20px;
  text-align: center;

  &__header {
    margin: $base-text-margin;
  }
}

.record {
  background-color: $main;
  padding: $base-text-margin;

  &__btn {
    display: inline;
  }

  &__description {
    display: inline;
    margin-left: $base-text-margin;
  }
}
