.app {
  border: 1px solid $main;
  border-radius: 10px;
  margin: 20px;

  &__header {
    margin: 0.5rem;
    text-align: center;
  }
}

.record {
  background-color: $main;
  padding: 0.5rem;

  &__btn {
    display: inline;
  }

  &__description {
    display: inline;
    margin-left: 0.5rem;
  }
}
