.tracklist-container {
  background-color: $tert;
  height: 500px;
}

.tracklist {
  overflow-y: scroll;
  padding-top: $base-margin;
  height: 100%;
  box-sizing: border-box;
}

.track,
.track-placeholder {
  background-color: $white;
  margin: auto;
  margin-bottom: $base-margin;
  padding: $base-margin;
  width: 700px;
  border-radius: 5px;
}

.track-placeholder {
  opacity: 70%;
}
