@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body,
input {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

a {
  color: $link;
}

a:visited {
  color: $link-visited;
}
