$record: tomato;
$main: #47ffb1;
$main-dark: #3d8063;
$link: #603bff;
$link-visited: #554a80;
$text: black;
$text-sec: grey;
$white: white;
$yellow: #ffe92e;

$base-text-margin: 1rem;
$base-margin: 20px;
